body{
    padding: 0;
    margin: 0;
}

.container{
    width: 100%;
    height: 2000px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #37353E;
    gap: 5rem;
}

.navbar{
    width: 100%;
    height: 70px;
    background-color: #2C2A33;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-family: 'Segoe UI', sans-serif;
    font-weight: bold;
    color: #D3DAD9;
    gap: 2.5rem;
    position: fixed;
    z-index: 1;
}

.name{
    width: 50%;
    margin-left: 20px;
    font-size: 24px;
}

.content{
    width: 50%;
    display: flex;
    justify-content: flex-end;
    font-size: 18px;
    gap: 1.5rem;
    margin-right: 0px;
}

a{
    text-decoration: none;
    color: #D3DAD9;
}

.introduction{
    width: 40%;
    height: 200px;
    margin-top: 10rem;
    background-color: #2C2A33;
    color: #D3DAD9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    border-radius: 10px;
    font-weight: bold;
    border: 1px solid #D3DAD9;
}

.socials{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    font-weight: light;
    font-family: 'Garamond', garamond, serif;
}

.socials > .name{
    font-size: 50px;
}

.icons{
    display: flex;
    gap: 1rem;
    margin-right: 20px;
}

.icons img{
    width: 1.5rem;
    height: 1.5rem;
    color: #D3DAD9;
    border: 1px solid #D3DAD9;
    border-radius: 10px;
    padding: 10px;
}

.location{
    height: 15px;
    font-size: 15px;
    display: flex;
    align-items: center;
    gap: 0.5rem;
    margin-left: 20px;
    color: #715A5A;
}

.location img{
    height: 13px;
    width: 13px;
}

.description{
    margin-top: 10px;
    margin-left: 20px;
    font-weight: lighter;
    font-size: 20px;
    margin-top: 20px;
}

.experience{
    width: 40%;
}

.experience > span{
    float: left;
    font-size: 60px;
    font-weight: bold;
    color: #D3DAD9;
}

.timeline{
    display: grid;
    grid-template-columns: 3px 1fr;
    height: 100px;
    padding-top: 40px;
    clear: left;
}

.timeline_middle{
    position: relative;
    background: #D3DAD9;
}

.timeline_middle_last{
    position: relative;
    background: #37353E;
}

.timeline_point{
    position: absolute;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 20px;
    height: 20px;
    background-color: #D3DAD9;
    border-radius: 50%;
}

.timeline_point_center{
    position: relative;
    top: 0%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 10px;
    height: 10px;
    background-color: #715A5A;
    border-radius: 50%;
}


.timeline_desc{
    color: #D3DAD9;
    font-weight: lighter;
    padding-left: 20px;
    margin-left: 30px;
    border-radius: 10px;
    border: 1px solid #D3DAD9;
    display: flex;
    flex-direction: column;
    justify-content: center;
    margin-bottom: 30px;
}

.role{
    font-weight: bold;
    font-size: 30px;
}

.date_location{
    font-size: 15px;
    color: #715A5A;
    margin-top: 5px;
}

.timeline_description{
    font-size: 1.4rem;
    margin-top: 10px;
}